@charset "utf-8";
/* CSS Document */

.plus { background:url(../images/pluse.jpg) no-repeat left top;}
.minus { background:url(../images/minus.jpg) no-repeat left top;}

.pL23 {margin:0; padding:5px 0 0 22px; width:170px; float:left;}
.pL23 p{padding:0; margin:0; width:170px; float:left; background:url(../images/bullet.png) no-repeat left; color:#fe7200;}
.pL23 p a {padding:0; margin:0; width:170px; float:left; color:#fe7200; text-decoration:none;}
.pL23 p a:hover {padding:0; margin:0; width:170px; float:left;color:#fe7200; text-decoration:underline;}




.statePod {padding:0; margin:10px 0 0 20px; width:195px; float:left;}
.statePod span{padding:0; margin:0; width:204px; float:left; font-weight:bold; color:#000;}
.statePod p{padding:0 0 0 0px; margin:0; width:170px; float:left; color:#fe7200;}
.statePod p a {padding:0; margin:0 0 0 7px; width:170px; float:left;  text-decoration:none;}
.statePod p a:hover {padding:0; margin:0 0 0 7px; width:170px; float:left;text-decoration:underline;}

.height{margin:0; padding:0; float:left; height:30px; width:190px;}